宁夏土地和矿权拍卖系统_Client/宁夏土地和矿权拍卖系统_Client/Service References/BLLPaiMaiXiTong.FRM_JiaoYiZiYuanLieBiao/FRM_JiaoYiZiYuanLieBiao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_JiaoYiZiYuanLieBiao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7254/BLL拍卖系统.FRM_JiaoYiZiYuanLieBiao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7254/BLL拍卖系统.FRM_JiaoYiZiYuanLieBiao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7254/BLL拍卖系统.FRM_JiaoYiZiYuanLieBiao.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_JiaoYiZiYuanLieBiao_ChaXunShuJuXingZhengQu_InputMessage">
    <wsdl:part name="parameters" element="tns:ChaXunShuJuXingZhengQu" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaoYiZiYuanLieBiao_ChaXunShuJuXingZhengQu_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChaXunShuJuXingZhengQuResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaoYiZiYuanLieBiao_ChaXunShuJuJiaoYiZiYuanLieBiao_InputMessage">
    <wsdl:part name="parameters" element="tns:ChaXunShuJuJiaoYiZiYuanLieBiao" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaoYiZiYuanLieBiao_ChaXunShuJuJiaoYiZiYuanLieBiao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChaXunShuJuJiaoYiZiYuanLieBiaoResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaoYiZiYuanLieBiao_ChaXunShuJuJiaoYiZiYuanLieBiaoDanZongShu_InputMessage">
    <wsdl:part name="parameters" element="tns:ChaXunShuJuJiaoYiZiYuanLieBiaoDanZongShu" />
  </wsdl:message>
  <wsdl:message name="FRM_JiaoYiZiYuanLieBiao_ChaXunShuJuJiaoYiZiYuanLieBiaoDanZongShu_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChaXunShuJuJiaoYiZiYuanLieBiaoDanZongShuResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_JiaoYiZiYuanLieBiao">
    <wsdl:operation name="ChaXunShuJuXingZhengQu">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaoYiZiYuanLieBiao/ChaXunShuJuXingZhengQu" message="tns:FRM_JiaoYiZiYuanLieBiao_ChaXunShuJuXingZhengQu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaoYiZiYuanLieBiao/ChaXunShuJuXingZhengQuResponse" message="tns:FRM_JiaoYiZiYuanLieBiao_ChaXunShuJuXingZhengQu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChaXunShuJuJiaoYiZiYuanLieBiao">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaoYiZiYuanLieBiao/ChaXunShuJuJiaoYiZiYuanLieBiao" message="tns:FRM_JiaoYiZiYuanLieBiao_ChaXunShuJuJiaoYiZiYuanLieBiao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaoYiZiYuanLieBiao/ChaXunShuJuJiaoYiZiYuanLieBiaoResponse" message="tns:FRM_JiaoYiZiYuanLieBiao_ChaXunShuJuJiaoYiZiYuanLieBiao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChaXunShuJuJiaoYiZiYuanLieBiaoDanZongShu">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_JiaoYiZiYuanLieBiao/ChaXunShuJuJiaoYiZiYuanLieBiaoDanZongShu" message="tns:FRM_JiaoYiZiYuanLieBiao_ChaXunShuJuJiaoYiZiYuanLieBiaoDanZongShu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_JiaoYiZiYuanLieBiao/ChaXunShuJuJiaoYiZiYuanLieBiaoDanZongShuResponse" message="tns:FRM_JiaoYiZiYuanLieBiao_ChaXunShuJuJiaoYiZiYuanLieBiaoDanZongShu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL拍卖系统.FRM_JiaoYiZiYuanLieBiao" type="tns:FRM_JiaoYiZiYuanLieBiao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChaXunShuJuXingZhengQu">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaoYiZiYuanLieBiao/ChaXunShuJuXingZhengQu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChaXunShuJuJiaoYiZiYuanLieBiao">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaoYiZiYuanLieBiao/ChaXunShuJuJiaoYiZiYuanLieBiao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChaXunShuJuJiaoYiZiYuanLieBiaoDanZongShu">
      <soap:operation soapAction="http://tempuri.org/FRM_JiaoYiZiYuanLieBiao/ChaXunShuJuJiaoYiZiYuanLieBiaoDanZongShu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_JiaoYiZiYuanLieBiao">
    <wsdl:port name="BLL拍卖系统.FRM_JiaoYiZiYuanLieBiao" binding="tns:BLL拍卖系统.FRM_JiaoYiZiYuanLieBiao">
      <soap:address location="http://localhost:7254/BLL%E6%8B%8D%E5%8D%96%E7%B3%BB%E7%BB%9F.FRM_JiaoYiZiYuanLieBiao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>