宁夏土地和矿权拍卖系统_Client/宁夏土地和矿权拍卖系统_Client/Service References/BLLPaiMaiXiTong.FRM_ZhuFangBaoZhangXingBiLi/BLL拍卖系统1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FRM_ZhuFangBaoZhangXingBiLi_Load_ZiYuanZhaiYao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuaPaiID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ZhuFangBaoZhangXingBiLi_Load_ZiYuanZhaiYaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_ZhuFangBaoZhangXingBiLi_Load_ZiYuanZhaiYaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ZhuFangBaoZhangXingBiLi_Load_JingMaiXinXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuaPaiID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ZhuFangBaoZhangXingBiLi_Load_JingMaiXinXiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_ZhuFangBaoZhangXingBiLi_Load_JingMaiXinXiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ZhuFangBaoZhangXingBiLi_Load_ZuiJinChuJaiJiLu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuaPaiID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ZhuFangBaoZhangXingBiLi_Load_ZuiJinChuJaiJiLuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_ZhuFangBaoZhangXingBiLi_Load_ZuiJinChuJaiJiLuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ZhuFangBaoZhangXingBiLi_Load_ZuiJinChuJaiJiLu_ZongShu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuaPaiID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ZhuFangBaoZhangXingBiLi_Load_ZuiJinChuJaiJiLu_ZongShuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_ZhuFangBaoZhangXingBiLi_Load_ZuiJinChuJaiJiLu_ZongShuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>