宁夏土地和矿权拍卖系统_Client/宁夏土地和矿权拍卖系统_Client/Service References/BLLPaiMaiXiTong.FRM_ZhiFuGuanLi/BLL拍卖系统.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FRM_ZhiFuGuanLi_Load_XingZhengQuMingCheng">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_ZhiFuGuanLi_Load_XingZhengQuMingChengResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_ZhiFuGuanLi_Load_XingZhengQuMingChengResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaZhao_Click_DongTaiTiaoJianChaZhao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DongTaiTiaoJian" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaZhao_Click_DongTaiTiaoJianChaZhaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnChaZhao_Click_DongTaiTiaoJianChaZhaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaKanQuanBu_Click_QuanBuChaZhao_FenYe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YeMa" type="xs:int" />
        <xs:element minOccurs="0" name="MeiYeShuLiang" type="xs:int" />
        <xs:element minOccurs="0" name="KeHuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaKanQuanBu_Click_QuanBuChaZhao_FenYeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnChaKanQuanBu_Click_QuanBuChaZhao_FenYeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaKanQuanBu_Click_QuanBuChaZhao_FenYeZongShu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KeHuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaKanQuanBu_Click_QuanBuChaZhao_FenYeZongShuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnChaKanQuanBu_Click_QuanBuChaZhao_FenYeZongShuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaZhao1_Click_TiaoJianChaZhao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaZhao1_Click_TiaoJianChaZhaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnChaZhao1_Click_TiaoJianChaZhaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaKanQuanBu1_Click_ChaZhaoQuanBu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YeMa" type="xs:int" />
        <xs:element minOccurs="0" name="MeiYeShuLiang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaKanQuanBu1_Click_ChaZhaoQuanBuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnChaKanQuanBu1_Click_ChaZhaoQuanBuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaKanQuanBu_Click_QuanBuChaZhao_ZongShu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnChaKanQuanBu_Click_QuanBuChaZhao_ZongShuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnChaKanQuanBu_Click_QuanBuChaZhao_ZongShuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>