宁夏土地和矿权拍卖系统_Client/宁夏土地和矿权拍卖系统_Client/Service References/BLLPaiMaiXiTong.FRM_WoDeWenDang/FRM_WoDeWenDang.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_WoDeWenDang" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7254/BLL拍卖系统.FRM_WoDeWenDang.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7254/BLL拍卖系统.FRM_WoDeWenDang.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7254/BLL拍卖系统.FRM_WoDeWenDang.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_WoDeWenDang_btnChaZhao_Click_DongTaiTiaoJian_InputMessage">
    <wsdl:part name="parameters" element="tns:btnChaZhao_Click_DongTaiTiaoJian" />
  </wsdl:message>
  <wsdl:message name="FRM_WoDeWenDang_btnChaZhao_Click_DongTaiTiaoJian_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnChaZhao_Click_DongTaiTiaoJianResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_WoDeWenDang_btnChaZhao_Click_DongTaiTiaoJian_ZongShu_InputMessage">
    <wsdl:part name="parameters" element="tns:btnChaZhao_Click_DongTaiTiaoJian_ZongShu" />
  </wsdl:message>
  <wsdl:message name="FRM_WoDeWenDang_btnChaZhao_Click_DongTaiTiaoJian_ZongShu_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnChaZhao_Click_DongTaiTiaoJian_ZongShuResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_WoDeWenDang_btnChaKanQuanBu_Click_WoDeWenDang_InputMessage">
    <wsdl:part name="parameters" element="tns:btnChaKanQuanBu_Click_WoDeWenDang" />
  </wsdl:message>
  <wsdl:message name="FRM_WoDeWenDang_btnChaKanQuanBu_Click_WoDeWenDang_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnChaKanQuanBu_Click_WoDeWenDangResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_WoDeWenDang_FRM_HuoQuBaoZhangJinZhangHao_Load_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_HuoQuBaoZhangJinZhangHao_Load" />
  </wsdl:message>
  <wsdl:message name="FRM_WoDeWenDang_FRM_HuoQuBaoZhangJinZhangHao_Load_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_HuoQuBaoZhangJinZhangHao_LoadResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_WoDeWenDang">
    <wsdl:operation name="btnChaZhao_Click_DongTaiTiaoJian">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_WoDeWenDang/btnChaZhao_Click_DongTaiTiaoJian" message="tns:FRM_WoDeWenDang_btnChaZhao_Click_DongTaiTiaoJian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_WoDeWenDang/btnChaZhao_Click_DongTaiTiaoJianResponse" message="tns:FRM_WoDeWenDang_btnChaZhao_Click_DongTaiTiaoJian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnChaZhao_Click_DongTaiTiaoJian_ZongShu">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_WoDeWenDang/btnChaZhao_Click_DongTaiTiaoJian_ZongShu" message="tns:FRM_WoDeWenDang_btnChaZhao_Click_DongTaiTiaoJian_ZongShu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_WoDeWenDang/btnChaZhao_Click_DongTaiTiaoJian_ZongShuResponse" message="tns:FRM_WoDeWenDang_btnChaZhao_Click_DongTaiTiaoJian_ZongShu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnChaKanQuanBu_Click_WoDeWenDang">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_WoDeWenDang/btnChaKanQuanBu_Click_WoDeWenDang" message="tns:FRM_WoDeWenDang_btnChaKanQuanBu_Click_WoDeWenDang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_WoDeWenDang/btnChaKanQuanBu_Click_WoDeWenDangResponse" message="tns:FRM_WoDeWenDang_btnChaKanQuanBu_Click_WoDeWenDang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_HuoQuBaoZhangJinZhangHao_Load">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_WoDeWenDang/FRM_HuoQuBaoZhangJinZhangHao_Load" message="tns:FRM_WoDeWenDang_FRM_HuoQuBaoZhangJinZhangHao_Load_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_WoDeWenDang/FRM_HuoQuBaoZhangJinZhangHao_LoadResponse" message="tns:FRM_WoDeWenDang_FRM_HuoQuBaoZhangJinZhangHao_Load_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL拍卖系统.FRM_WoDeWenDang" type="tns:FRM_WoDeWenDang">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="btnChaZhao_Click_DongTaiTiaoJian">
      <soap:operation soapAction="http://tempuri.org/FRM_WoDeWenDang/btnChaZhao_Click_DongTaiTiaoJian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnChaZhao_Click_DongTaiTiaoJian_ZongShu">
      <soap:operation soapAction="http://tempuri.org/FRM_WoDeWenDang/btnChaZhao_Click_DongTaiTiaoJian_ZongShu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnChaKanQuanBu_Click_WoDeWenDang">
      <soap:operation soapAction="http://tempuri.org/FRM_WoDeWenDang/btnChaKanQuanBu_Click_WoDeWenDang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_HuoQuBaoZhangJinZhangHao_Load">
      <soap:operation soapAction="http://tempuri.org/FRM_WoDeWenDang/FRM_HuoQuBaoZhangJinZhangHao_Load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_WoDeWenDang">
    <wsdl:port name="BLL拍卖系统.FRM_WoDeWenDang" binding="tns:BLL拍卖系统.FRM_WoDeWenDang">
      <soap:address location="http://localhost:7254/BLL%E6%8B%8D%E5%8D%96%E7%B3%BB%E7%BB%9F.FRM_WoDeWenDang.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>