宁夏土地和矿权拍卖系统_Client/宁夏土地和矿权拍卖系统_Client/Service References/BLLPaiMaiXiTong.FRM_TianXueJingMaiShenQingShu/BLL拍卖系统.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FRM_TianXueJingMaiShenQingShu_Load">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuaPaiID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FRM_TianXueJingMaiShenQingShu_LoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FRM_TianXueJingMaiShenQingShu_LoadResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnTongYi_Click_BaoCun1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KeHuMingCheng" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FaRenDaiBiao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LianXiRen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LianXiDiZhi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="YouZhengBianMa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LianXiDianHua" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnTongYi_Click_BaoCun1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnTongYi_Click_BaoCun1Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnTongYi_Click_BaoCun2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShenQingShiJian" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnTongYi_Click_BaoCun2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnTongYi_Click_BaoCun2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>