宁夏土地和矿权拍卖系统_Client/宁夏土地和矿权拍卖系统_Client/Service References/BLLPaiMaiXiTong.FRM_TianXueJingMaiShenQingShu/FRM_TianXueJingMaiShenQingShu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_TianXueJingMaiShenQingShu" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7254/BLL拍卖系统.FRM_TianXueJingMaiShenQingShu.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7254/BLL拍卖系统.FRM_TianXueJingMaiShenQingShu.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7254/BLL拍卖系统.FRM_TianXueJingMaiShenQingShu.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_TianXueJingMaiShenQingShu_FRM_TianXueJingMaiShenQingShu_Load_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_TianXueJingMaiShenQingShu_Load" />
  </wsdl:message>
  <wsdl:message name="FRM_TianXueJingMaiShenQingShu_FRM_TianXueJingMaiShenQingShu_Load_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_TianXueJingMaiShenQingShu_LoadResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_TianXueJingMaiShenQingShu_btnTongYi_Click_BaoCun1_InputMessage">
    <wsdl:part name="parameters" element="tns:btnTongYi_Click_BaoCun1" />
  </wsdl:message>
  <wsdl:message name="FRM_TianXueJingMaiShenQingShu_btnTongYi_Click_BaoCun1_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnTongYi_Click_BaoCun1Response" />
  </wsdl:message>
  <wsdl:message name="FRM_TianXueJingMaiShenQingShu_btnTongYi_Click_BaoCun2_InputMessage">
    <wsdl:part name="parameters" element="tns:btnTongYi_Click_BaoCun2" />
  </wsdl:message>
  <wsdl:message name="FRM_TianXueJingMaiShenQingShu_btnTongYi_Click_BaoCun2_OutputMessage">
    <wsdl:part name="parameters" element="tns:btnTongYi_Click_BaoCun2Response" />
  </wsdl:message>
  <wsdl:portType name="FRM_TianXueJingMaiShenQingShu">
    <wsdl:operation name="FRM_TianXueJingMaiShenQingShu_Load">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_TianXueJingMaiShenQingShu/FRM_TianXueJingMaiShenQingShu_Load" message="tns:FRM_TianXueJingMaiShenQingShu_FRM_TianXueJingMaiShenQingShu_Load_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_TianXueJingMaiShenQingShu/FRM_TianXueJingMaiShenQingShu_LoadResponse" message="tns:FRM_TianXueJingMaiShenQingShu_FRM_TianXueJingMaiShenQingShu_Load_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnTongYi_Click_BaoCun1">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_TianXueJingMaiShenQingShu/btnTongYi_Click_BaoCun1" message="tns:FRM_TianXueJingMaiShenQingShu_btnTongYi_Click_BaoCun1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_TianXueJingMaiShenQingShu/btnTongYi_Click_BaoCun1Response" message="tns:FRM_TianXueJingMaiShenQingShu_btnTongYi_Click_BaoCun1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="btnTongYi_Click_BaoCun2">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_TianXueJingMaiShenQingShu/btnTongYi_Click_BaoCun2" message="tns:FRM_TianXueJingMaiShenQingShu_btnTongYi_Click_BaoCun2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_TianXueJingMaiShenQingShu/btnTongYi_Click_BaoCun2Response" message="tns:FRM_TianXueJingMaiShenQingShu_btnTongYi_Click_BaoCun2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL拍卖系统.FRM_TianXueJingMaiShenQingShu" type="tns:FRM_TianXueJingMaiShenQingShu">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FRM_TianXueJingMaiShenQingShu_Load">
      <soap:operation soapAction="http://tempuri.org/FRM_TianXueJingMaiShenQingShu/FRM_TianXueJingMaiShenQingShu_Load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnTongYi_Click_BaoCun1">
      <soap:operation soapAction="http://tempuri.org/FRM_TianXueJingMaiShenQingShu/btnTongYi_Click_BaoCun1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="btnTongYi_Click_BaoCun2">
      <soap:operation soapAction="http://tempuri.org/FRM_TianXueJingMaiShenQingShu/btnTongYi_Click_BaoCun2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_TianXueJingMaiShenQingShu">
    <wsdl:port name="BLL拍卖系统.FRM_TianXueJingMaiShenQingShu" binding="tns:BLL拍卖系统.FRM_TianXueJingMaiShenQingShu">
      <soap:address location="http://localhost:7254/BLL%E6%8B%8D%E5%8D%96%E7%B3%BB%E7%BB%9F.FRM_TianXueJingMaiShenQingShu.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>