宁夏土地和矿权拍卖系统_Client/宁夏土地和矿权拍卖系统_Client/Service References/BLLPaiMaiXiTong.FRM_GeRenZiLiao/FRM_GeRenZiLiao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FRM_GeRenZiLiao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7254/BLL拍卖系统.FRM_GeRenZiLiao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7254/BLL拍卖系统.FRM_GeRenZiLiao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7254/BLL拍卖系统.FRM_GeRenZiLiao.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FRM_GeRenZiLiao_FRM_GeRenZiLiao_Load_GeRenXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_GeRenZiLiao_Load_GeRenXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_GeRenZiLiao_FRM_GeRenZiLiao_Load_GeRenXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_GeRenZiLiao_Load_GeRenXinXiResponse" />
  </wsdl:message>
  <wsdl:message name="FRM_GeRenZiLiao_FRM_GeRenZiLiao_Load_QiYeXinXi_InputMessage">
    <wsdl:part name="parameters" element="tns:FRM_GeRenZiLiao_Load_QiYeXinXi" />
  </wsdl:message>
  <wsdl:message name="FRM_GeRenZiLiao_FRM_GeRenZiLiao_Load_QiYeXinXi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FRM_GeRenZiLiao_Load_QiYeXinXiResponse" />
  </wsdl:message>
  <wsdl:portType name="FRM_GeRenZiLiao">
    <wsdl:operation name="FRM_GeRenZiLiao_Load_GeRenXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_GeRenZiLiao/FRM_GeRenZiLiao_Load_GeRenXinXi" message="tns:FRM_GeRenZiLiao_FRM_GeRenZiLiao_Load_GeRenXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_GeRenZiLiao/FRM_GeRenZiLiao_Load_GeRenXinXiResponse" message="tns:FRM_GeRenZiLiao_FRM_GeRenZiLiao_Load_GeRenXinXi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FRM_GeRenZiLiao_Load_QiYeXinXi">
      <wsdl:input wsaw:Action="http://tempuri.org/FRM_GeRenZiLiao/FRM_GeRenZiLiao_Load_QiYeXinXi" message="tns:FRM_GeRenZiLiao_FRM_GeRenZiLiao_Load_QiYeXinXi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FRM_GeRenZiLiao/FRM_GeRenZiLiao_Load_QiYeXinXiResponse" message="tns:FRM_GeRenZiLiao_FRM_GeRenZiLiao_Load_QiYeXinXi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL拍卖系统.FRM_GeRenZiLiao" type="tns:FRM_GeRenZiLiao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FRM_GeRenZiLiao_Load_GeRenXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_GeRenZiLiao/FRM_GeRenZiLiao_Load_GeRenXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FRM_GeRenZiLiao_Load_QiYeXinXi">
      <soap:operation soapAction="http://tempuri.org/FRM_GeRenZiLiao/FRM_GeRenZiLiao_Load_QiYeXinXi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FRM_GeRenZiLiao">
    <wsdl:port name="BLL拍卖系统.FRM_GeRenZiLiao" binding="tns:BLL拍卖系统.FRM_GeRenZiLiao">
      <soap:address location="http://localhost:7254/BLL%E6%8B%8D%E5%8D%96%E7%B3%BB%E7%BB%9F.FRM_GeRenZiLiao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>